/*CSS RESET*/
*,
*::after,
*::before {
  box-sizing: border-box;
  /* outline: 2px solid red; */
  /* background-color: hsla(0, 100%, 50%, 0.05); */
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  font: inherit;
}

/*VARIABLES*/
:root {
  /* colors*/
  --red-1: #b7094c;
  --red-2: #a01a58;
  --red-3: #892b64;
  --purple-1: #723c70;
  --purple-2: #5c4d7d;
  --blue-4: #455e89;
  --blue-3: #2e6f95;
  --blue-2: #1780a1;
  --blue-1: #0091ad;
  --BG-COLOR: white;
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
/* GENERAL STYLES */
/* SCROLL-PROGRESS BAR */
.scroll-watcher {
  position: fixed;
  top: 0;
  background-color: var(--red-3);
  height: 7px;
  z-index: 1000;
  width: 100%;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}
@keyframes scroll-watcher {
  from {
    transform: scale(0,1);
  }
  to {
    transform: scale(1, 1);
  }
}
body {
  background-color: var(--BG-COLOR);
}
.cardContainer {
  display: grid;
  place-content: center;
  min-height: 100vh;
}
.card {
  height: 250px;
  aspect-ratio: 1/1.5;
  background-color: white;
  position: relative;
  border-radius: 5px;
}

.card::before,
.card::after {
  content: "";
  border-radius: inherit;
  position: absolute;
  inset: -3px;
  z-index: -1;
  background-image: conic-gradient(
    from var(--gradient-angle),
    var(--blue-1),
    var(--blue-2),
    var(--blue-3),
    var(--blue-4),
    var(--purple-2),
    var(--purple-1),
    var(--red-3),
    var(--red-2),
    var(--red-1),
    var(--blue-1)
  );
  animation: rotation 10s infinite linear;
}
.card::after {
  filter: blur(3.5rem);
}
/* ///////////SECOND CARD STYLES\\\\\\\\\\\\ */
@property --x-cord {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}
@property --y-cord {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}
@keyframes movingGrad {
  0% {
    --x-cord: 0px;
    --y-cord: 0px;
  }
  25% {
    --x-cord: 300px;
    --y-cord: 0px;
  }
  50% {
    --x-cord: 300px;
    --y-cord: 200px;
  }
  75% {
    --x-cord: 0px;
    --y-cord: 200px;
  }
  100% {
    --x-cord: 0px;
    --y-cord: 0px;
  }
}
.card1 {
  min-height: 300px;
  padding: 2rem;
  aspect-ratio: 1.25/1;
  background-color: transparent;
  z-index: 1;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: center;
  column-gap: 20px;
}
.card1::after,
.card1::before {
  content: "";
  background-image: radial-gradient(
    circle 200px at var(--x-cord) var(--y-cord),
    var(--red-1),
    var(--purple-1),
    var(--blue-1)
  );
  filter: blur(4px);
  z-index: -1;
  position: absolute;
  inset: 0;
  animation: movingGrad 20s linear infinite;
}
.part {
  background-color: aliceblue;
  padding: 1rem;
  box-shadow: 1px 1px 15px 1px gray;
  border-radius: 10px;
}
/* ///////////THIRD CARD STYLES\\\\\\\\\\\\\\ */
.card2 {
  width: 100vw;
  aspect-ratio: 16/9;
  background-color: black;
  background-image: url("../Images/Images/mars.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: grid;
  place-content: center;
}
.card2__title {
  font-size: 1rem;
  padding: 1rem;
  color: white;
  font-family: monospace;
  font-weight: bolder;
  animation: titleGrow 5s linear forwards;
}
.blurCard {
  background-color: hsla(0, 0%, 100%, 0.531);
  position: absolute;
  inset: 0;
  right: 50%;
  backdrop-filter: blur(3px);
}
@keyframes titleGrow {
  0% {
    font-size: 1rem;
  }
  25% {
    font-size: 2rem;
  }
  50% {
    font-size: 3rem;
  }
  75% {
    font-size: 4rem;
  }
  100% {
    font-size: 5rem;
  }
}

/* SCROLL PROGRESS BAR */
/* ::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #4c4a4a;
}
::-webkit-scrollbar-thumb {
  background-color: red;
  box-shadow: 0 -100vh 0 100vh red;
}
 */
 
