/*CSS RESET*/
*,
*::after,
*::before {
  box-sizing: border-box;
  /* outline: 2px solid red; */
  /* background-color: hsla(0, 100%, 50%, 0.05); */
}
* {
  margin: 0;
  padding: 0.5rem;
}
img {
  display: block;
}
button {
  font: inherit;
}

/*VARIABLES*/
:root {
  /* colors*/
  --red-1: #b7094c;
  --red-2: #a01a58;
  --red-3: #892b64;
  --purple-1: #723c70;
  --purple-2: #5c4d7d;
  --blue-4: #455e89;
  --blue-3: #2e6f95;
  --blue-2: #1780a1;
  --blue-1: #0091ad;
  --BG-COLOR: white;
  /* More colors */
  --BODY-BG-COLOR: #36454f;
  --HEADER-BG-COLOR: #848884;
  --MAIN-BG-COLOR: #71797e;
  --FOOTER-BG-COLOR: #848884;
  --PARA-BG-COLOR: #7393b3;
  --ARTICLE-BG-COLOR: #e5e4e2;
  --SECTION-BG-COLOR: #c0c0c0;
  --ASIDE-BG-COLOR: aliceblue;
  --NAV-BG-COLOR: #555655;
  --BLOCKQUOTE-BG-COLOR: #8a9a5b;
}
/* SCROLL PROGRESS BAR */
.scroll-watcher {
  padding: 0;
  height: 7px;
  width: 100%;
  background-color: lime;
  position: fixed;
  top: 0;
  transform: scale(0, 1);
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}
@keyframes scroll-watcher {
  to {
    transform: scale(1, 1);
  }
}
/* CUSTOM SCROLL BAR */
::-webkit-scrollbar {
  background-color: darkslategray;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: lime;  
}

/* GENERAL STYLES */
body {
  background-color: var(--BODY-BG-COLOR);
  margin: 0;
  padding: 0;
}
/* Headings */
.pageH1 {
  color: black;
  margin: 1rem 0.2rem;
}
.pageH2 {
  color: black;
  margin: 1rem 0.2rem;
}
.pageH3 {
  color: black;
  margin: 1rem 0.2rem;
}
.pageH4 {
  color: black;
  margin: 1rem 0.2rem;
}

/* Sections */
.pageHeader {
  background-color: var(--HEADER-BG-COLOR);
  min-height: 100vh;
}
.pageNav {
  background-color: var(--NAV-BG-COLOR);
  min-height: 50vh;
}
.pageMain {
  background-color: var(--MAIN-BG-COLOR);
}
.pageAside {
  background-color: var(--ASIDE-BG-COLOR);
}
.pageArticle {
  background-color: var(--ARTICLE-BG-COLOR);
  min-height: 300vh;
}
.pageSection {
  background-color: var(--SECTION-BG-COLOR);
  min-height: 70vh;
  margin-top: 2rem;
}
.pageFooter {
  background-color: var(--FOOTER-BG-COLOR);
  margin: 1rem;
  min-height: 50vh;
}

/* Others */
.pagePara {
  background-color: var(--PARA-BG-COLOR);
  padding: 2rem;
  margin: 1rem;
}
.pageBlockquote {
  background-color: var(--BLOCKQUOTE-BG-COLOR);
  min-height: 50vh;
  margin: 1rem;
}
.pageQuote {
  margin: 1rem;
}
.pageMain {
  display: flex;
  flex-flow: row nowrap;
}
.otherWrapper {
  width: calc(70%-5px);
  flex-grow: 1;
}
.pageAside {
  width: calc(30%-5px);
}


