/* CSS RESET*/
*,
*::after,
*::before {
  box-sizing: border-box;
  /* outline: 2px solid red; */
  /* background-color: hsla(0, 100%, 50%, 0.1); */
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  font: inherit;
  cursor: pointer;
}

/*VARIABLES*/

/* UTILITY CLASSES */

/* GENERAL STYLES*/
body {
  padding: 4rem;
}
.buttonContainer {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid gray;
  column-gap: 50px;
  justify-content: center;
  align-items: start;
  min-height: 90vh;
  padding: 2rem;
}
.btn1 {
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid blue;
  border-radius: 7px;
  color: blue;
}
.btn1--alt {
  color: white;
  background-color: blue;
}
.btn1--gradient {
  background-image: linear-gradient(20deg, blue, red);
  color: white;
  border-image: linear-gradient(20deg, blue, red) 1;
}
.btn1--borders {
  border-top-color: red;
  border-right-color: red;
  border-bottom-color: blue;
  border-left-color: blue;
}
.btn1--shadow {
  box-shadow: 2px 2px 0px 0px green;
}
/* BUTTON WITH BORDER GRADIENT */
.btn2 {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  position: relative;
  border-radius: 7px;
  background-image: linear-gradient(20deg, blue, red);
  color: white;
  font-weight: bolder;
}
.btn2::before {
  content: "";
  padding: 0.5rem;
  border-radius: 7px;
  position: absolute;
  inset: -2px;
  z-index: -1;
  background-color: pink;
  background-image: linear-gradient(20deg, blue, red);
}
